.spinner {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: solid 4px var(--color-primary);
  border-top-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: spin 1.4s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}