:root {
  --color-background: #1A1B1D;
  --color-surface: #24242B;
  --color-border: #2F2E37;
  --color-on-surface: #FFFFFF;
  --color-on-surface-less: #C7C7C7;
  --color-primary: #9444B4;

  --border-radius-md: 8px;
  --box-shadow-md: 0 4px 8px rgba(0, 0, 0, .15);
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #F3F4F9;
    --color-surface: #FFFFFF;
    --color-border: #D2D2D2;
    --color-on-surface: #000000;
    --color-on-surface-less: #656565;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  color-scheme: dark light;
}

body {
  background: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 16px;
}

p {
  color: var(--color-on-surface-less);
  line-height: 1.3em;
}