.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0;
  padding-top: 16px;
  border-top: solid 1px var(--color-border);
  color: var(--color-on-surface-less);
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.logo {
  font-weight: 500;
  color: var(--color-on-surface);
}

.link {
  transition: .2s;
  &:hover {
    color: var(--color-on-surface);
  }
}